<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="FIDEntities" connectionString="metadata=res://*/Models.FID.csdl|res://*/Models.FID.ssdl|res://*/Models.FID.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=axdb2;initial catalog=FID;user id=bmssa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>